*,
html {
  font-family: "Bebas Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  height: 100vh;
  background-image: url(img/Amiya1.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.Profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.Profile img {
  width: 150px;
  height: 150px;
  border: 2px solid #ffffff;
  border-radius: 100%;
}

.Profile p {
  font-size: 1.8em;
  font-weight: 900;
  letter-spacing: 6px;
  color: #ffffff;
  text-transform: capitalize;
  text-align: center;
  text-shadow: 2px 2px 2px #222;
}

.Link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

.Link a {
  text-decoration: none;
  color: #222;
  font-size: 24px;
  text-align: center;
  border: 3px solid #222;
  border-radius: 7px;
  background-color: #eee;
  margin: 5px 10px;
  padding: 10px;
  width: 300px;
  text-transform: uppercase;
  font-weight: 500;
}

.Link a:hover {
  background-color: azure;
}

.Footer {
  text-align: center;
  padding-top: 3px;
}

.Footer i {
  font-size: 2rem;
  font-style: italic;
  color: #eee;
  text-shadow: 2px 2px 2px #222;
}

.Footer h2 {
  padding-top: 5px;
  font-size: 2rem;
  font-weight: 400;
  color: #eee;
  text-shadow: 2px 2px 2px #222;
}

.kontak a {
  width: 500px;
  text-transform: uppercase;
  font-weight: 500;
  text-decoration: none;
  font-size: 24px;
}

.kontak {
  padding: 5px;
}

/* Media Query */
/* Laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }
  Link a {
    width: 700px;
  }
}

/* Handpone */
@media (max-width: 576px) {
  html {
    font-size: 60%;
  }
  Link a {
    width: 300px;
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }
  Link a {
    width: 500px;
  }
}
